<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-black bg-secundary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">{{ operacion }} Vehiculo</div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="addVehicle()">
                        <label class="form-label">NIV</label>
                        <input formControlName="niv" type="text" class="form-control" placeholder="Ingrese NIV">
                        <label class="form-label mt-1">Nombre</label>
                        <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese Nombre">
                        <label class="form-label mt-1">Modelo</label>
                        <input formControlName="modelo" type="text" class="form-control mt-2" placeholder="Ingrese Modelo">
                        <label class="form-label mt-1">Año</label>
                        <input formControlName="anio" type="number" class="form-control mt-2" placeholder="Ingrese Año">
                        <label class="form-label mt-1">Fabricante</label>
                        <input formControlName="fabricante" type="text" class="form-control mt-2" placeholder="Ingrese Fabricante">
                        <label class="form-label mt-1">Costo Base</label>
                        <input formControlName="costoBase" type="number" class="form-control mt-2" placeholder="Ingrese Costo Base">
                        <div class="row mt-1 text-center">
                            <div class="col-lg-6">
                                <button [disabled]="form.invalid" type="submit" class="btn btn-outline-success">Aceptar</button>
                            </div>
                            <div class="col-lg-6">
                                <button routerLink="/vehiculo" type="button" class="btn btn-outline-primary">Volver</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>


