<div class="container" >
    <div class="row">
        <div class="col-6">
            <img src="../../../assets/imagenes/fenix.png" width="98%"  height="80%" class="d-inline-block " alt="logo">
        </div>
        <div class="col-6">
            <div class="card text-black bg-secundary mb-3 ">
                 <div class="card-header text-center">INICIAR SESION</div>
                    <div class="card-body"> 
                        <form class="form-group">
                            <label class="form-label"> EMAIL </label>
                            <input type="text" class="control-form" placeholder="Ingresa tu email">
                            <label class="form-label"> CONTRASEÑA </label>
                            <input type="text" class="control-form" placeholder="Ingresa tu contraseña"> 
                            <div class="row mt-2 text-center">
                                <button type="submit" class="btn btn-outline-success">INGRESAR</button>
                            </div>
                        </form>
                    </div>   
            </div>
        </div>
    </div>
</div>
