<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
      <h2>Vehiculos Disponibles</h2>
      <button type="button" class="btn btn-outline-success btn-sm" routerLink="/add">Agregar Vehiculo</button>
    </div>
    
    <!-- TABLA VEHICULOS DISPONIBLES -->
    <table *ngIf="vehiculo.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Costo Base</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let item of vehiculo" class="table-activate">
            <th>{{ item.nombre }}</th>
            <td>{{ item.modelo }}</td>
            <td>{{ item.anio }}</td>
            <td>{{ item.fabricante }}</td>
            <td>{{ item.costoBase | currency }}</td>
            <td>
              <button [routerLink]="['/edit', item.id]" type="button" class="btn btn-outline-primary btn-sm">Editar</button>
              <button (click)="deleteVehiculo(item.id!)" type="button" class="btn btn-outline-danger btn-sm ms-2">Borrar</button>
            </td>
          </tr> 
        </tbody>
      </table>
      <h5 *ngIf="vehiculo.length <= 0" >No hay productos para mostrar</h5>

      <!-- BOTONES OPCION Y GENERAR FACTURA -->
      <div class="text-center mt-5">
              <button routerLink="/opcion" type="button" class="btn btn-outline-primary me-5" > Opciones</button>
              <button routerLink="/factura" *ngIf="vehiculo.length > 0" type="button" class="btn btn-outline-warning" >Generar Factura</button>
              <h5 *ngIf="vehiculo.length <= 0">No es posible generar una factura en este momento</h5>
      </div>
      
      <!-- BOTON CERRAR SESION -->
      <div class="fixed-bottom mt-3 mb-3 ms-3">
          <button routerLink="/login" type="button" class="btn btn-outline-danger">Cerrar Sesion</button>
      </div><br>
</div>